.vs/
Binaries/Win64/*
DerivedDataCache/
Intermediate/
Saved/
Build/
Release/
Plugins/UnrealEnginePython/Binaries/Win64/*
Plugins/UnrealEnginePython/DerivedDataCache/
Plugins/UnrealEnginePython/Intermediate/
Plugins/UnrealEnginePython/Saved/
Plugins/UnrealEnginePython/Build/
Plugins/AdvancedSessions/AdvancedSessions/Binaries/Win64/*
Plugins/AdvancedSessions/AdvancedSteamSessions/Binaries/Win64/*
*.sln
*.sdf
*.suo
*.user
*.sln.docstates
*.opendb
*.db
